
.root {
    -fx-background-color: linear-gradient(to bottom right, #0f172a, #020617);
    -fx-font-family: "Segoe UI", "Arial";
}


.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #e5e7eb;
}


.label {
    -fx-text-fill: #e5e7eb;
    -fx-font-size: 13px;
}


.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #475569;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 4;

}

.combo-box .list-cell {
    -fx-text-fill: black;
}

.combo-box:hover {
    -fx-border-color: #38bdf8;
}


.button {
    -fx-background-color: linear-gradient(#2563eb, #1e40af);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}

.button:hover {
    -fx-background-color: linear-gradient(#3b82f6, #2563eb);
    -fx-cursor: hand;
}

.primary-btn {
    -fx-background-color: linear-gradient(#22c55e, #15803d);
}

.primary-btn:hover {
    -fx-background-color: linear-gradient(#4ade80, #22c55e);
}


#statusLabel {
    -fx-text-fill: #facc15;
    -fx-font-size: 12px;
}
